@use './../variables/brand-color' as *;
@use 'header-main';
@use 'header-sub';

header{
    color:$page-header-text-color-default;

    a{
        color:$page-header-text-color-default;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height:100%;
    }

    ul{
        display: flex;
        font-size: 1.5rem;
    }
}