@use './../variables/brand-color' as *;

.page-header-sub{
    background-color: $header-sub-bg;
    padding:0.5rem;
    display: flex;
    justify-content: space-evenly;
    
    a:hover{
        text-decoration: none;
    }

    .header-sub-social-media{
        li{
            width:4rem;
        }
    }
}