$function-text-color-default: #FFF;

//---- HEADER -----

$header-main-bg: #ff6600;
$header-sub-bg: #003d80;

$page-header-text-color-default: #fff;
$page-header-link-hover-color: #fff;


//------ BODY -------

//Dashboard

$product-card-border-settings: 5px solid #EDEDED;
$product-card-button-text-color: #FFF;
$product-card-button-bg-color: #003D80;